

#navbar a {
    font-size: 19px;
}




body
{
 padding-top: 50px;
    background-image: url('PageGrid.svg');
   height: 10px;
    background-repeat: repeat;
    background-attachment: fixed;
background-color:#EAFFEC;
font-family: Arial, sans-serif;
}

body.dark_grid {
    background-image: url('PageGridDark.svg');
}

a{text-decoration: none;}

a:hover{text-decoration: underline;}


div.center {
text-align: center;
}


div.no_box {
margin: 0;
padding: 0;
 background-color:#d1f0ca;
}


div.invisible_box {
  margin-left: 0.9em;
  padding-left: 1.0em;
 margin-right: 0.9em;
  padding-right: 1.0em;
 
}



div.transparent_gap {
background-color:#EAFFEC;
  margin: 0.9em;
  padding: 1.0em;
 margin-top: 2.0em;
}


div.transparent {
background-color:#EAFFEC;
   margin: 0.9em;
  padding: 1.0em;
}


div.lighter {
background-color:#ffffff;
  margin: 0.9em;
  padding: 1.0em;
}


div.darker {
background-color:#d1f0ca;
  margin: 0.9em;
  padding: 1.0em;
}

div.problem {
  border: thin silver solid;
  margin: 1.5em;
  padding: 0.5em;
background-color:#d3ffc3;
}
div.problem p {
 }




div.figure {
  float: right;
  width: 28%;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
background-color:#f0fff2;
}
div.figure p {
  font-size: smaller;
  text-indent: 0;
}




#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 500;
}

#navbar li {
    float: left;
}

#navbar li a {
    font-family: Tahoma, sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 2px 2px;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
}

ul.bigger_space li {
    margin-top:9px;
}


/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: #111;
}
}


